:root {
    --bg_main: #2754ad7a;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #3a82b9;
    --darkred: #c3112d;
  }
   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  html {
    background-image: url(https://wallpapercave.com/wp/wp2035106.jpg);
  }
   
  button {
    cursor: pointer;
  }
   
  button,
  input {
    /* border: none; */
    background: rgba(128, 128, 128, 0.432);
    border-radius: 40px;
    /* outline: none; */
    color: white;
  }

  body {
    background: linear-gradient(to left, rgba(1, 0, 0, 0), rgba(46, 37, 216, 0.253));
    padding: 50px;
  }
  
  .header {
    color: white;
  }
   
  .header form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
   
  .header form input::placeholder {
    color: currentColor;
  }
   
  .header form button {
    box-shadow: 2px 20px 50px 20px rgba(13, 50, 58, 0.363);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(230, 173, 173), rgb(57, 57, 105));
  }
   
  .header form button:hover {
    /* background: var(--darkred); */
    background: linear-gradient(to right, lightblue, rgb(108, 43, 43));
  }

  h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgba(110, 27, 27, 0.788);
    padding: 10px;
  }

  .icon {
    height: 5%;
    width: 5%;
  }

  h1 {
    font-family:Arial, Helvetica, serif;
    color: #FFF;
    font-size: 3.5em; 
    text-shadow: 10px 10px 10px #09071a93;
  }

  input {
    text-align: center;
    font-family:Arial, Helvetica, serif;
  }