  * {
    margin: 0;
    padding: 0;
  }

  html {
    background-image: url(https://wallpapercave.com/wp/wp2035106.jpg);
  }
   
  button {
    cursor: pointer;
  }
   
  button, input {
    background: rgba(128, 128, 128, 0.432);
    border-radius: 40px;
    color: white;
  }

  body {
    background: linear-gradient(to top, rgba(1, 0, 0, 0.236), rgba(13, 8, 94, 0.932));
    padding: 50px;
  }
  
  .header {
    color: white;
  }
   
  .header form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
   
  .header form input::placeholder {
    color: currentColor;
  }
   
  .header form button {
    box-shadow: 2px 20px 50px 20px rgba(13, 50, 58, 0.363);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(230, 173, 173), rgb(57, 57, 105));
  }
   
  .header form button:hover {
    background: linear-gradient(to right, lightblue, rgb(108, 43, 43));
  }

  h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgba(247, 241, 241, 0.445);
    padding: 10px;
    text-shadow: 1px 2px 5px rgba(224, 153, 153, 0.815);
  }

  .icon {
    height: 10%;
    width: 10%;
  }

  h1 {
    font-family:Arial, Helvetica, serif;
    color: #FFF;
    font-size: 3.5em; 
    text-shadow: 10px 10px 10px #09071a93;
  }

  h2 {
    text-align: center;
    font-size: 50px;
  }

  input {
    text-align: center;
    font-family:Arial, Helvetica, serif;
    background: linear-gradient(to top, rgba(1, 0, 0, 0.236), rgba(7, 6, 11, 0.938));
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem; 
    color: rgb(245, 239, 239);
    text-align: center; 
  }

  footer span {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 30px;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgba(173, 216, 230, 0.5);
    }
    form input,
    form button {
    width: 100%;
  }

  html {
    margin: 0 auto;
    clear: both;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
  }
 
    form button {
    margin: 20px 0 0 0;
    }
  }
